<div class="background">
  <div class="box">
    <mat-card>
      <mat-card-title class="center">🚗 Update Car 🚗</mat-card-title>
      <form>
        <mat-form-field>
          <input matInput placeholder="Brand"
                 [(ngModel)]="car.brand" name="brand" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Model"
                 [(ngModel)]="car.model" name="model" required>
        </mat-form-field>


        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Year of Fabrication"
                 name="Year of Fabrication" [(ngModel)]="car.yearFabrication"
                 (dateChange)="changeDate($event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Price"  (blur)="transformAmount($event)"
                 [(ngModel)]="formattedAmount" name="price" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Color"
                 [(ngModel)]="car.color" name="color">
        </mat-form-field>
      </form>

      <button mat-raised-button (click)="updateCar()" color="primary">
        Update Car
      </button>

      <button mat-raised-button (click)="cancel()">
        Cancel
      </button>

    </mat-card>
  </div>
</div>
